# Python-related files
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
*.tgz
*.tar.gz
*.ini

# Virtual Environment
.venv/
env/
venv/
*.env*
.env_example

# Build / Distribution
dist/
build/
site/

# Logs / Reports
*.log
*.logfire
*.coverage/
log/

# Caches
.cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.gradio/
.history/
temp/

# IDE / Editor Files
.idea/
.vscode/
.vscode/settings.json

# Framework-specific files
local_neo4jWorkDir/
neo4jWorkDir/

# Data & Storage
inputs/
rag_storage/
examples/input/
examples/output/

# Miscellaneous
.DS_Store
TODO.md
ignore_this.txt
*.ignore.*

# Project-specific files
dickens/
book.txt
lightrag-dev/
gui/

# unit-test files
test_*
