[Unit]
Description=LightRAG XYJ Ollama Service
After=network.target

[Service]
Type=simple
User=netman
# Memory settings
MemoryHigh=8G
MemoryMax=12G
WorkingDirectory=/home/netman/lightrag-xyj
ExecStart=/home/netman/lightrag-xyj/lightrag-api
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
