aiohttp
configparser

# database packages
networkx

# Basic modules
numpy
pipmaster
pydantic
python-dotenv

setuptools
tenacity


# LLM packages
tiktoken
xxhash

# Extra libraries are installed when needed using pipmaster
