accelerate
aiofiles
aiohttp
configparser

# database packages
networkx
graspologic

# Basic modules
numpy
pipmaster
pydantic

# File manipulation libraries
PyPDF2
python-docx
python-dotenv
python-pptx

setuptools
tenacity


# LLM packages
tiktoken
tqdm
xxhash

# Extra libraries are installed when needed using pipmaster
