
Document Chunks (Each entry has a reference_id refer to the `Reference Document List`):

```json
{{ text_chunks_str }}
```

Reference Document List (Each entry starts with a [reference_id] that corresponds to entries in the Document Chunks):

```
{{ reference_list_str }}
```
